@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

body {
  margin: 0;
  background-color: #e9ebee;
  color: #1d2129;
}

.navbar {
  color: #42424c;
  background: #ffffff;
  position: relative;
  height: 80px;
}

/* .navbar>div {
  position: absolute;
  width: 100%;
}

.navbar>.logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cell {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cell>div {
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.cell .submenu {
  top: 80px;
  left: 0px;
  padding: 30px 5px;
  width: 200px;
  background: #ffffff;
  position: absolute;
  display: none;
}

.show {
  display: block;
} */